html {
    font-family: Arial, Helvetica, sans-serif;
    width: 60%;
    margin: auto;
}

.header-container {
display: flex;
justify-content: space-between;
align-items: center;
}

h1 {
    color: #048186;
}

.logout-button {
background-color: #f44336;
color: white;
padding: 10px 15px;
border: none;
border-radius: 4px;
cursor: pointer;
}
.logout-button:hover {
    background-color: #d32f2f;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #04a4aa;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #04a4aa;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04a4aa;
    color: white;
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination {
    display: flex;
    align-items: center;
}

.pagination a, .pagination span {
    margin: 0 5px;
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid #ddd;
    color: #333;
}

.pagination .current-page {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

.pagination .arrow {
    font-size: 24px;
    font-weight: bold;
}

.pagination .disabled {
    opacity: 0.5;
    pointer-events: none;
}